.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 1rem;
    background-color: #004276;
}

.header-logo {
    font-size: 1.5rem;
    color: white;
}

.header-link {
    color: white;
}

.header-link:hover {
    border-bottom: .015rem solid white;
}