.header-logo {
  font-size: 1.5rem;
  color: white;
}

.nav-link {
  padding: .5rem .5rem;
  border-radius: 0.25rem;
  color: white;
  text-decoration: none;
  transition: all .3s ease-in;
}

.nav-link:hover {
  background-color: #5392AD;
  text-decoration: none;
  color: white;
}

.active-link {
  padding: .5rem .5rem;
  border-bottom: 0.015rem solid white;
  text-decoration: none;
  color: white;
}

.active-link:hover {
  background-color: #5392AD;
  text-decoration: none;
  border-radius: 0.25rem;
  color: white;
}

.sign-up-btn {
  color: white;
  text-decoration: none;
}