.skill-card {
  border-radius: .5em;
  text-decoration: none;
  background: white;
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
  transition: .45s ease;
}

.skill-card:hover {
  background: #ee6c4d;
  transform: scale(1.02);
  color: white;
}

.skill-category-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.skill-category-text {
  position: absolute;
  font-size: 2rem;
  left: 50%;
  transform: translateX(-50%);
  color: black;
}

.exercise-header {
  position: sticky;
  top: 3rem;
  background-color: white;
  box-shadow: 0 4px 10px -3px gray;
  padding: .5rem;
}
