.workout-item {
    display: flex;
    align-items: center;
    background-color: #EEF8FE;
    border-radius: .5rem;
    padding: .15rem;
}

.workout-image-container {
    height: 3rem;
    width: 3rem;
}

.workout-image {
    height: 100%;
    width: 100%;
    border: .025rem solid black;
    border-radius: .5rem;
    object-fit: cover;
}

.workout-reps-text {
    color: #413D3E;
}

.workout-name-text {
    font-weight: 500;
}

.test {
    height: 100px;
    width: 100px;
    background-color: blue;
}