.App {
  text-align: center;
  height: 100vh;
}

.home-image-container {
  height: 50vh;
}

.home-image {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.home-word-in {
  animation: bounce-in-right 2s ease;
}

.home-word-out {
  animation: bounce-in-left 2s ease;
}

@keyframes bounce-in-left {
  0% {
    opacity: 0;
    transform: translateX(2rem);
  }
  60% {
    opacity: 1;
    transform: translateY(0);
  }
  80% { transform: translateX(); }
  100% { transform: translateX(0); }
}

@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(2rem);
  }
  60% {
    opacity: 1;
    transform: translateY(0);
  }
  80% { transform: translateX(0); }
  100% { transform: translateX(0); }
}
