/*
Webpage Theme
Main Button - #ee6c4d
Header - #272727
Workout Item - #90A9B7
Selection Buttons - #6A8D73
Skill Buttons - #EFD09E
*/

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

.home-container {
  margin: 0 auto;
}

.home-title {
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem 0;
}

.home-image-container {
  height: 50vh;
}

.home-image {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
