@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", "sans-serif";
}

html,
body,
#root,
.app,{
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.app {
  display: flex;
  position: relative;
}
